.container {
	display: grid;
	grid-template-columns:
		[full-start]minmax(4rem, 1fr) [ center-start] repeat(
			8,
			minmax(min-content, 250px)
		)
		[center-end] minmax(4rem, 1fr) [full-end];
	grid-template-rows: 6rem calc(100vh - 6rem);
	overflow: hidden;

	@include respond(tab-land) {
		grid-template-rows: 6rem;
	}
	@include respond(phone) {
		grid-template-rows: 6rem;
	}
}
.navigation {
	background: $color-white;
	grid-row: 1 / 2;
	grid-column: 1/-1;
	padding: 0 12rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 1000;

	@include respond(tab-land) {
		padding: 0 9rem;
	}
	@include respond(thousand) {
		padding: 0 7rem;
	}

	@include respond(phone) {
		padding: 0 3rem;
	}
}

.hero {
	background-color: $color-grey-light;
	grid-column: 1 / -1;
	grid-row: 2 / 3;

	padding: 0 12rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	@include respond(tab-land) {
		padding: 0 9rem;
	}
	@include respond(thousand) {
		padding: 0 7rem;
	}
	@include respond(tab-port) {
		padding: 0 4rem 5rem;
		flex-direction: column;
		align-items: center;
	}

	@include respond(phone) {
		padding: 0 2rem;
	}
}

.testimonial {
	background-color: $color-grey;
	grid-column: 1/ -1;
	grid-row: 3 / 4;
	display: flex;
	flex-wrap: wrap;
	padding: 8rem 12rem;

	@include respond(tab-land) {
		padding: 6rem 9rem;
	}
	@include respond(tab-land) {
		padding: 4.5rem 7rem;
	}

	@include respond(tab-port) {
		padding: 4.5rem 6rem;
	}

	@include respond(phone) {
		padding: 4.5rem 3rem;
	}
}

.articles {
	background-color: $color-grey-light;
	grid-column: 1 / -1;
	grid-row: 4 / 5;
	display: flex;
	flex-direction: column;
	padding: 8rem 12rem;

	@include respond(tab-land) {
		padding: 6rem 9rem;
	}
	@include respond(tab-land) {
		padding: 4.5rem 7rem;
	}

	@include respond(tab-port) {
		padding: 3.5rem 4rem;
	}
}

.article {
	&__heading {
		margin-bottom: 5rem;
	}

	&__content {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 5rem;
	}
}

.footer {
	background-color: $color-primary-blue;
	grid-column: full-start / full-end;
	grid-row: 5 / 6;

	padding: 4rem 12rem 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	column-gap: 5rem;
	align-items: center;

	@include respond(tab-land) {
		padding: 3.5rem 9rem 2rem;
	}
	@include respond(tab-land) {
		padding: 2.5rem 7rem 1.5rem;
	}

	@include respond(tab-port) {
		grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
		padding: 2rem 4rem 1.5rem;
	}
	@include respond(phone) {
		grid-template-columns: 1fr;
		padding: 2.5rem 4rem 1.5rem;
		place-items: center;
		text-align: center;
	}

	&__logos {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@include respond(phone) {
			width: 100%;
			align-items: center;
		}
		& > *:not(last-child) {
			margin-bottom: 3.8rem;
			margin-top: 2.8rem;
		}
		&--socials {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}
	&__links {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		align-items: center;

		@include respond(phone) {
			flex-direction: column;
			align-items: center;
		}
		& > * {
			flex: 0 0 50%;
			margin-bottom: 1.8rem;
		}
	}
	&__cta {
		justify-self: end;

		display: flex;

		flex-direction: column;
		align-items: flex-end;
		justify-content: center;

		@include respond(phone) {
			justify-self: center;
			align-items: center;
			justify-content: center;
		}
		& > * {
			margin-bottom: 4.2rem;
		}
	}
	&__copyright {
		font-size: 1.5rem;
		font-weight: 300;
		color: $color-grey-blue;
		transform: translateY(1rem);
	}
}
