.container {
	display: grid;
	grid-template-columns:
		[full-start]minmax(4rem, 1fr) [ center-start] repeat(
			8,
			minmax(min-content, 250px)
		)
		[center-end] minmax(4rem, 1fr) [full-end];
	grid-template-rows: 6rem calc(100vh - 6rem);
}
.navigation {
	background: $color-white;
	grid-row: 1 / 2;
	grid-column: 1/-1;
	padding: 0 12rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 100;
}

.hero {
	background-color: aliceblue;
	grid-column: 1 / -1;
	grid-row: 2 / 3;

	padding-left: 12rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.testimonial {
	background-color: green;
	grid-column: center-start 1 / center-end;
	grid-row: 3 / 4;
}

.articles {
	background-color: forestgreen;
	grid-column: center-start 1 / center-end;
	grid-row: 4 / 5;
}

.footer {
	background-color: black;
	grid-column: full-start / full-end;
	grid-row: 5 / 6;
}
